body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#test {
  width: 100px;
  height: 100px;
  background: red;
}

#test:hover {
  background: blue;
  border: 2px solid red;
}

#test.yellowOnHover:hover {
  background: yellow;
}
